<!DOCTYPE html>
<html lang="en">
<head>
  <title>PLASTIC SUPER MARKET</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% include base.html %}
  <link rel="stylesheet" href="css/stylesheet.css">
  <link rel="stylesheet" href="css/font-awesome.css">
</head>

<body>
<div class="wrapper">


	<div class="top-header">
		<div id="H-container">
			<div class="top-header-left">
				<span>Sales@Plastic Supermarket.CO.UK</span>
				<p>CALL: 0116 2771936</p>
			</div>
			
			<ul class="top-header-right">
				<li>MY ACCOUNT</li>
				<li>LOGIN </li>
				<li>MY CART </li>
				<li>1 </li>
			</ul>
		

		</div>
	</div>
<div class="header">
		<div id="H-container">
			<div class="logo-brand">
				<a href="{{base}}"><img src="images/logos-111.png"></a>
				
			</div>
			
			<nav>
				<ul>
					<li class="active"><a href="{{base}}">  HOME       </a></li>
					<li><a href="#">  PRODUCTS   </a></li>
					<li><a href="#">  SERVICES   </a></li>
					<li><a href="#">  DELIVERY   </a></li>
					<li><a href="#">  CONTACT US </a></li>
				</ul>
		   </nav>
		   <a class="mdf-search" href="">Search enitre store here<i class="fa fa-ser fa-search" aria-hidden="true"></i></a>
	
		</div>
	
    </div>
	<div class="mdf-service-home-area">
		<div id="H-container">
			<ul>
			<li class="mdf-inner-service-home">
					<img src="images/icon-21.png">
				
					<h3>NATIONWIDE 
					DELIVERY </h3>
				
			</li>
			
			
			<li class="mdf-inner-service-home">
					<img src="images/icon-22.png">
				<h3>CUT TO YOUR 
                 EXACT REQUIREMENT </h3>
			</li>
			
			
			<li class="mdf-inner-service-home">
					<img src="images/icon-23.png">
				<h3>BESPOKE SHAPES</h3>
			</li>
			
			
			<li class="mdf-inner-service-home">
					<img src="images/icon-24.png">
				<h3>SPECIALIST ACRYLIC 
				FABRICATION</h3>
			</li>
			
			
			
			
			</ul>
		</div>	
	</div>

	
	<div class="content">
		{{content}}
	</div>
	
	
	
<footer>
	<div id="H-container">
		<div class="inner-footer">
			<div class="foot-products">
					<h1>PRODUCTS</h1>
						<ul>
							<li>ACRYLIC SHEETS</li>
							<li>POLYCARBONATE</li>
							<li>FOAM PVC</li>
							<li>ALUMINIUM COMPOSITE</li>
							<li>CORREX</li>
							<li>PETG</li>
							<li>STYRENE</li>
							<li>PVC</li>
							<li>ACRYLIC ROD AND TUBE</li>
							<li>WALL CLADDING</li>
							<li>ACCESSORIES</li>
						</ul>
			</div>
			
			
			<div class="foot-products">
					<h1>SERVICES</h1>
						<ul>
							<li>CNC CUTTING</li>
							<li>LASER CUTTING</li>
							<li>BENDING</li>
							<li>IN HOUSE DESIGN</li>
							<li>PRINTING</li>
							<li>GLUING</li>
							<li>ACRYLIC FABRICATON</li>
							
							
						</ul>
			</div>
			
			
			<div class="foot-products">
					<h1>INFORMATION</h1>
						<ul>
							<li>F.A.Q </li>
							<li>About Us </li>
							<li>Privacy Policy </li>
							<li>Terms & Conditions </li>
							
						</ul>
			</div>
			
			
			<div class="foot-products">
					<h1>CONTACT US</h1>
						<ul>
							<li>The Polycarbonate Store, 23</li>
							<li>Cottage Lane Industrial Estate</li>
							<li>Swannington Lane</li>
							<li>Leicestershire, LE9 6TU</li>
							<li>
							<a href="#"><i class="fa FA-ICO fa-facebook" aria-hidden="true"></i></a>
							<a href="#"><i class="fa FA-ICO fa-google-plus" aria-hidden="true"></i></a>
							<a href="#"><i class="fa FA-ICO fa-twitter" aria-hidden="true"></i></a>
							<a href="#"><i class="fa FA-ICO fa-instagram" aria-hidden="true"></i></a>
							
							
							</li>
							<li>0116 2771936 </li>
							
							<li><a href="#">sales@acrylicfabrication.co.uk</a></li>
						</ul>
			</div>
		
		
		
		
		
		
		</div>


	
	</div>
	
	
	<div class="footer-bar">
		<p>© MDF Board Store 2017 </p>
	</div>
		
</footer>		
	

</div><!--wrapper-->





</body>

</html>
